<div class="container text-center">
    <h3 class="pfc-title">Jouez à Pierre-Feuille-Ciseaux !</h3>

    <div class="pfc-button-container">
        <input class="pfc-button" type="image" src="../../../assets/image/PFC - Pierre.png" alt="PFC Pierre" (click)="game('p')">
        <input class="pfc-button" type="image" src="../../../assets/image/PFC - Feuille.png" alt="PFC Feuille" (click)="game('f')">
        <input class="pfc-button" type="image" src="../../../assets/image/PFC - Ciseaux.png" alt="PFC Ciseaux" (click)="game('c')">
    </div>

    <h5>Et c'est une ... {{resultat}}</h5>

    <button (click)="stat()">stat</button>

    <p *ngIf="afficherStat == true">
        Vous avez gagné {{nbVic}} manches
        Vous avez perdu {{nbDef}} manches
        Vous avez fait {{nbEga}} égalités
    </p>
</div>



