
<div class="container">
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
      <p class="site-heading-lower">Bienvenu à vous</p>
    </h1>
</div>

<div class="container">
    <h1>Règle du Morpion</h1>
    <p>Il faut faire une ligne</p>
    <div class="text-center">
        <button (click)="redirectMorp()">Jouer</button>
    </div>
    
    <h1>Règle du Pierre-Feuille-Ciseaux</h1>
    <p>Il faut gagner</p>
    <div class="text-center">
        <button (click)="redirectPfc()">Jouer</button>
    </div>

</div>


