
.container-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.card{
    display: flex;
    height: 20em;
    flex-grow: 1;
    flex-basis: 300px;
    margin: 2%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background-image: url("../../assets/image/fond-table-poker-couleur-verte-fond-combinaisons-cartes-fond-premium-table-poker_511290-24.avif");
}

.card-title{
    height: 25%;
    margin-top: 5px;
}

.card-content{
    height: 50%;
    
}

.card-button{
    width: 50%; 
    align-self: center;
}