
<div class="container">
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
      <p class="site-heading-lower">Bienvenu à vous</p>
    </h1>
</div>

<div class="container container-card">
    <div class="container text-center card">
        <h5>Règle du Morpion</h5>
        <p>Il faut faire une ligne</p>
        <button class="card-button" (click)="redirectMorp()">Jouer</button>
    </div>
    <div class="container text-center card">
        <h5 class="card-title">Règle du Pierre-Feuille-Ciseaux</h5>
        <p class="card-content">Il faut gagner</p>
        <button class="card-button" (click)="redirectPfc()">Jouer</button>
    </div>
    
    
</div>


